.resumeButton {
  padding: 0.5rem 1rem;
  font-size: 12px;
  color: white;
  border-radius: 50px; 
  border: 1px solid yellowgreen;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block;
  margin-top: 25px;
}

.resumeButton:hover {
  background-color: yellowgreen;
  transform: scale(1.05);
}
