@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=National+Park:wght@200..800&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: 'National Park', serif;
}

.special {
  font-family: 'Exo', sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
